/* app/styles.scss */

:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bg-light: #ffffff;
  --bg-dark: #030712;
}

html,
body {
  font-family: var(--font-sans);
  background-color: var(--bg-light);
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html,
  body {
    background-color: var(--bg-dark);
    color: #f9fafb;
  }
}

// h1 {
//   margin: 50px 100px;
// }

.pagination {
  margin: 100px auto;
  width: 1100px;
  display: flex;
  justify-content: center;

  span {
    margin: 0 50px;
  }
}